#body {
    background-color: #111214;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    color: aliceblue;
    font-family: Calibri;
}
.mainFlexUpper {
    margin-left: auto;
}
.axisColour line {
    stroke: aliceblue;
}

.axisColour path {
    stroke: aliceblue;
}

.axisColour text {
    fill: aliceblue;
}

#content {
    order: 2;
    width: 100%;
    display: flex;
    background-color: #212428;
    flex-direction: column;
}

.sideBarFlexContainer {
    background-color: #242424;
    order: 1;
    width: 15%;

}

.mainFlexUpper {
    display: flex;
    order: 2;
    height: 50%;
    width: 100%;
    justify-content: space-around;
    border-bottom-style: solid;
}

.mainFlexLower {
    display: flex;
    order: 3;
    height: 50%;
    width: 100%;
    justify-content: space-around;
}

#greyHighligjht {
    background-color: #212428;
}

#blueHighlight {
    background-color: #323439;
}

.barChart {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: aliceblue;
}

.pie {
    margin: 20px;
}

.pie text {
    font-family: "Verdana";
    fill: #888;
}

.pie .name-text {
    font-size: 1em;
}

.pie .value-text {
    font-size: 3em;
}

#heatMap {
    display: block;
    margin: auto;
}

#title {
    font-size: 32px;
    text-anchor: middle;
}

#description {
    font-size: 15px;
    text-anchor: middle;
}

.temperatures, .months {
    font-size: 12px;
}

#tooltip {
    background-color: rgba(187, 187, 187, 0.7);
    border-radius: 5px;
    height: 38px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 110px;
    text-align: center;
}

.timeLabel, .dayLabel {
    font-size: 1.6rem;
    fill: #AAAAAA;
    font-weight: 300;
}

#nav-container {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#nav-container .left {
    margin-right: 20px;
}

#nav-container .right {
    margin-left: 20px;
}

#mouseMovements {
    margin-left: auto;
    padding-right: 5px;
    padding-top: 5px;
}