#body {
    background-color: #111214;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    color: aliceblue;
    font-family: Calibri;
}

.axisColour line{
    stroke: aliceblue;
}

.axisColour path{
    stroke: aliceblue;
}

.axisColour text{
    fill: aliceblue;
}

#content {
    order: 2;
    width: 100%;
    display: flex;
    background-color: #212428;
    flex-direction: column;
}

.sideBarFlexContainer {
    background-color: #242424;
    order: 1;
    width: 15%;

}

.mainFlexUpper {
    display: flex;
    order: 2;
    height: 50%;
    width: 100%;
    justify-content: space-around;
    border-bottom-style: solid;
}

.mainFlexLower {
    display: flex;
    order: 3;
    height: 50%;
    width: 100%;
    justify-content: space-around;
}

#greyHighligjht {
    background-color: #212428;
}

#blueHighlight {
    background-color: #323439;
}

.barChart {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: aliceblue;
}

.pie {
    margin: 20px;
}

.pie text {
    font-family: "Verdana";
    fill: #888;
}

.pie .name-text {
    font-size: 1em;
}

.pie .value-text {
    font-size: 3em;
}